<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<% if @task.completed == true %>
  <p><%= 'This task is completed' %></p>
<% else%>
  <p><%= 'This task is not yet completed' %></p>
<% end %>
<%# <%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Do you really want to?' } %>
